body{
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    color: white;
    font-size: 20px;
    background: url("../images/bible.jpg");
    background-size: cover;
    background-repeat: no-repeat
}


h1{
    text-align: center;
    size: 1.5rem;
    margin-bottom: 50px;
}

.quiz-content{

    margin: 100px;
    text-align: center;
}


#question, #status, #answerChoices li, #wins, #losses, #unanswered{
    margin-top: 15px;
    margin-bottom: 15px;
}

#answerChoices li:hover{

    color: red;
}


button{
    justify-content: center;
}